* {
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.2s;

    color-scheme: light dark;
    --bgcolor: light-dark(#ccc, #333);
    --textcolor: light-dark(rgba(0, 0, 0, 0.87), rgba(255, 255, 255, 0.87));
    --lighttextcolor: light-dark(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.6));
    --bordercolor: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    --darkbordercolor: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
    --lightbordercolor: light-dark(
        rgba(0, 0, 0, 0.07),
        rgba(255, 255, 255, 0.07)
    );
    background-color: var(--bgcolor);
    color: var(--textcolor);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    padding: 0;
    margin: 0;
}

.material-symbols-outlined {
    color: var(--lighttextcolor);
    font-size: 1.7em;
    line-height: 0;
    position: relative;
    top: 0.25em;
    margin-right: 0.2em;
}

a {
    color: light-dark(rgba(0, 0, 0, 0.87), rgba(255, 255, 255, 0.87));
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

header {
    margin: 5em 10em 2em 10em;
}

header > a {
    opacity: 0.7;
    text-decoration: none;
}
header > a:hover {
    opacity: 0.9;
}

header .header-wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header h1 {
    font-family: "Instrument Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    margin: 0;
}

header .user-info {
    display: flex;
    align-items: baseline;
    font-size: 1.15em;
}

header .logout {
    font-size: 0.8em;
    opacity: 0.6;
    margin-left: 1em;
}

main {
    margin: 0 10em;
}

main > p {
    width: 60%;
    min-width: 400px;
    max-width: 40rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 0.9em;
    font-weight: 300;
    padding: 0.6em 0.8em;
    background: var(--bgcolor);
    border: 3px solid var(--bordercolor);
}

label {
    font-size: 1em;
    display: block;
}

label:not(:first-child) {
    margin-top: 2em;
}

input[type="button"],
button {
    font-size: 1em;
    border: 3px solid var(--darkbordercolor);
    color: var(--textcolor);
    padding: 0.4em 0.7em;
    background: var(--bgcolor);
    margin: 0;
}

input:hover,
button:hover {
    border: 3px solid var(--lighttextcolor);
}

input[type="button"].secondary,
button.secondary {
    border: 3px solid var(--bgcolor);
    text-decoration: underline;
    cursor: pointer;
}

input[type="button"].secondary:hover,
button.secondary:hover {
    text-decoration: none;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.card {
    border: 3px solid var(--bordercolor);
}

.card h3 {
    margin: 0 0 0.4rem 0;
    font-weight: 500;
    font-size: 1.2rem;
}

.card .details {
    padding: 0.8em;
    font-size: 0.9em;
}

.card-action-wrap {
    display: flex;
    border-top: 3px solid var(--bordercolor);
    justify-content: space-between;
    padding: 0 0.3rem;
}

.card-action-wrap a {
    border: 0;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0.4rem 0.2rem;
    text-decoration: none;
}

.card-action-wrap a:hover {
    text-decoration: underline;
}

.display-color-selector {
    width: 100%;
    max-width: 250px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.3rem;
    row-gap: 0.3rem;
}

.display-color-option {
    height: 0;
    width: 100%;
    border-radius: 50%;
    background: white;
    padding-bottom: 100%;
}

.display-color-option.active,
.display-color-option:hover {
    outline: 0.2rem solid white;
}

/* @media (prefers-color-scheme: light) {
    TODO!

    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */
